@font-face {
    font-family: Bitter;
    src: url(./assets/fonts/Bitter-Regular.woff2) format(woff2),
        url(./assets/fonts/Bitter-Regular.woff) format(woff);
}

@font-face {
    font-family: Gelion;
    src: url(./assets/fonts/Gelion-Regular.woff2) format(woff2),
        url(./assets/fonts/Gelion-Regular.woff) format(woff);
}

:root {
    --primary-color: #3e3e3f;
    --secondary-color: #c8b7a3;
    --submit-color: #0a6bf2;
    --add-color: #009400;
    --remove-color: #cc1212;
}

*, *::before, *::after {
    box-sizing: border-box;
}

*:not(dialog) {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    font-size: 18px;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: Gelion, Arial, sans-serif;
    display: flex;
    justify-content: center;
    background-color: #d7dadf;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
    max-inline-size: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

.app-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 3rem 4rem;
    max-width: 960px;
    width: 100%;
}

/* Header */

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 2rem;
    background-color: var(--primary-color);
    color: white;
    font-family: Bitter, 'Times New Roman', serif;
}

.name-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0rem 2rem;
}

.contact-wrapper {
    display: flex;
    flex-direction: column;
}

.header-edit-field {
    border-radius: 5px;
    border: none;
    padding: 0 0.5rem 0 0.5rem;
    font-size: 0.8rem;
    width: 210px;
}

/* Main Wrappers */

.main-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    min-height: 1024px;
}

.heading-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
 }

 .editing {
    display: flex;
    flex-direction: column;
    gap: 5px;
 }

 .edit-field-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 10px;
 }

/* Sidebar */

 .sidebar-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem 1rem;
    background-color: var(--secondary-color);
 }

 .article-wrapper {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: white;
 }

 .article-wrapper ul {
    margin-left: 15px;
 }

 .side-edit-field-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 5px;
 }

 .side-edit-field {
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    padding: 0 0.5rem 0 0.5rem;
 }

/* Main Content */

.main-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem 1rem;
}

.main-section-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.edit-summary-field {
    resize: none;
    width: 576px;
    height: 300px;
    padding: 0.5rem;
}

.editing-experience-wrapper {
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    padding: 10px;
}

.experience-buttons-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 80%;
    margin-top: 10px;
}

.job-section-wrapper {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
    gap: 20px;
}

.job-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.job-wrapper ul {
    margin-left: 15px;
}

.job-editing-wrapper {
    display: flex;
    justify-content: space-between;
}

.job-duty-edit-field {
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    padding: 0 0.5rem 0 0.5rem;
    width: 400px;
}

/* Buttons */

.header-edit-button {
    width: fit-content;
    position: absolute;
    right: 0;
    background-color: transparent;
    margin-top: 15px;
    border: none;
}

.header-edit-button:hover {
    cursor: pointer;
}

.edit-button {
    background-color: transparent;
    border: none;
}

.edit-button:hover {
    cursor: pointer;
}

.editing-button {
    display: flex;
    align-self: center;
    justify-content: center;
    width: 60%;
    border-radius: 5px;
    color: white;

    transition: background-color 300ms, color 300ms;
}

.editing-button:hover,
.editing-button:focus {
    cursor: pointer;
    background-color: white;
}

.submit{
    background-color: var(--submit-color);
    border: 1px solid var(--submit-color);
}

.submit:hover,
.submit:focus {
    color: var(--submit-color)
}

.add {
    background-color: var(--add-color);
    border: 1px solid var(--add-color);
}

.add:hover,
.add:focus {
    color: var(--add-color);
}

.remove {
    background-color: var(--remove-color);
    border: 1px solid var(--remove-color);
}

.remove:hover,
.remove:focus {
    color: var(--remove-color);
}