@font-face {
    font-family: Bitter;
    src: url(./assets/fonts/Bitter-Regular.woff2) format(woff2),
        url(./assets/fonts/Bitter-Regular.woff) format(woff);
}

@font-face {
    font-family: Gelion;
    src: url(./assets/fonts/Gelion-Regular.woff2) format(woff2),
        url(./assets/fonts/Gelion-Regular.woff) format(woff);
}

:root {
    --primary-color: #3e3e3f;
    --secondary-color: #c8b7a3;
}

*, *::before, *::after {
    box-sizing: border-box;
}

*:not(dialog) {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    font-size: 18px;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: Gelion, Arial, sans-serif;
    display: flex;
    justify-content: center;
    background-color: #d7dadf;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
    max-inline-size: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

.app-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 3rem 4rem;
    max-width: 960px;
    width: 100%;
    min-height: 100vh;
}

/* Header */

.header-wrapper {
    border: 1px solid green;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 2rem;
    background-color: var(--primary-color);
    color: white;
    font-family: Bitter, 'Times New Roman', serif;
}

.name-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0rem 2rem;
}

.contact-wrapper {
    display: flex;
    flex-direction: column;
}

/* Main Wrappers */

.main-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 100%;
}

.heading-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
 }

/* Sidebar */

 .sidebar-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem 1rem;
    background-color: var(--secondary-color);
 }

 .article-wrapper {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: white;
 }

 .article-wrapper ul {
    margin-left: 15px;
 }

/* Main Content */

.main-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem 1rem;
}

.main-section-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.job-section-wrapper {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
    gap: 20px;
}

.job-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.job-wrapper ul {
    margin-left: 15px;
}

/* Buttons */

.header-edit-button {
    width: fit-content;
    position: absolute;
    right: 0;
    background-color: transparent;
    margin-top: 15px;
    border: none;
}

.header-edit-button:hover {
    cursor: pointer;
}

.edit-button {
    background-color: transparent;
    border: none;
}

.edit-button:hover {
    cursor: pointer;
}