@font-face {
    font-family: Bitter;
    src: url(./assets/fonts/Bitter-Regular.woff2) format(woff2),
        url(./assets/fonts/Bitter-Regular.woff) format(woff);
}

@font-face {
    font-family: Gelion;
    src: url(./assets/fonts/Gelion-Regular.woff2) format(woff2),
        url(./assets/fonts/Gelion-Regular.woff) format(woff);
}

:root {
    --primary-color: #3e3e3f;
    --secondary-color: #c8b7a3;
}

*, *::before, *::after {
    box-sizing: border-box;
}

*:not(dialog) {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    font-size: 18px;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: Gelion, Arial, sans-serif;
    display: flex;
    justify-content: center;
    background-color: #d7dadf;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
    max-inline-size: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

.app-container {
    display: flex;
    flex-direction: column;
    border: 1px dashed red;
    background-color: white;
    margin: 2rem 3rem;
    max-width: 960px;
    width: 100%;
    min-height: 100vh;
}

/* Header */

.header-wrapper {
    border: 1px solid green;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 2rem;
}

.name-wrapper {
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
}

.contact-wrapper {
    border: 1px solid pink;
}

/* Main Wrapper */

.main-wrapper {
    border: 1px solid blue;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

/* Sidebar */

 .sidebar-wrapper {
    border: 1px solid orange;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem 3rem;
 }

/* Main Content */

.experience-wrapper {
    border: 1px solid magenta;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem 3rem;
}